nav {
  background-color: black;
  height: 35px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.nav_buttons {
  border: none;
  margin-left: 10px;
  text-align: center;
  height: 30px;
  color: gray;
  background-color: black;
}

.nav_buttons:hover {
  color: black;
  background-color: grey;
}

.search_box {
  margin-left: 50px;
  height: 25px;
  border: none;
  border-radius: 5px;
}

#search_button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: black;
}
